
<!--************************************
        Header Start
*************************************-->
<header id="tg-header" class="tg-header tg-haslayout">
    <div class="tg-middlecontainer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <strong class="tg-logo"><a routerLink="/home" routerLinkActive="current-menu-item"><img class="anhlogo" src="./assets/images/logo.png" alt="company name here"></a></strong>
                    <div class="tg-wishlistandcart">
                        <div class="dropdown tg-themedropdown tg-minicartdropdown">
                            <a href="javascript:void(0);" id="tg-minicart" class="tg-btnthemedropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="tg-themebadge">2</span>
                                <i class="icon-cart"></i>
                                <span>990.000 đ</span>
                            </a>
                            <div class="dropdown-menu tg-themedropdownmenu" aria-labelledby="tg-minicart">
                                <div class="tg-minicartbody">
                                    <div class="tg-minicarproduct">
                                        <figure>
                                            <img class="anhgiohang" src="./assets/images/products/frisogold.jpg" alt="image description">
                                            
                                        </figure>
                                        <div class="tg-minicarproductdata">
                                            <h5><a href="javascript:void(0);">Friso-Gold</a></h5>
                                            <h6><a href="javascript:void(0);">590.000 đ</a></h6>
                                        </div>
                                    </div>
                                    <div class="tg-minicarproduct">
                                        <figure>
                                            <img class="anhgiohang" src="./assets/images/products/caocap5.jpg" alt="image description">
                                            
                                        </figure>
                                        <div class="tg-minicarproductdata">
                                            <h5><a href="javascript:void(0);">Dielac-Alpha</a></h5>
                                            <h6><a href="javascript:void(0);">400.000 đ</a></h6>
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="tg-minicartfoot">
                                    <a class="tg-btnemptycart xoa" href="javascript:void(0);">
                                        <i class="fa fa-trash-o"></i>
                                        <span >Xóa khỏi giỏ</span>
                                    </a>
                                    
                                    <div class="tg-btns">
                                        <a class="tg-btn tg-active" href="javascript:void(0);">Giỏ hàng</a>
                                        <a class="tg-btn" href="javascript:void(0);">Thanh toán</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown tg-themedropdown tg-wishlistdropdown">
                            <a class="tg-btnthemedropdown">
                                <span>xin chào</span>
                                <div class="tg-userlogin">
                                    <figure>
                                        <a href=""><img src="./assets/images/users/img-01.jpg" alt="image description"></a>
                                    </figure>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="tg-searchbox">
                        <form class="tg-formtheme tg-formsearch">
                            <fieldset>
                                <input type="text" name="search" class="typeahead form-control" placeholder="Bạn hãy nhập vào loại sữa muốn tìm?">
                                <button type="submit"><i class="icon-magnifier"></i></button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tg-navigationarea">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <nav id="tg-nav" class="tg-nav">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
                            <ul>
                                
                                <li><a routerLink="/home" routerLinkActive="current-menu-item">Trang chủ</a></li>
                                <li class="menu-item-has-children">
                                    <a href="javascript:void(0);">Nhà cung cấp</a>
                                    <ul class="sub-menu">
                                        <li><a routerLink="/home/supplier/1" routerLinkActive="current-menu-item">Friso</a></li>
                                        <li><a routerLink="/home/supplier/1" routerLinkActive="current-menu-item">Abbott</a></li>
                                        <li><a routerLink="/home/supplier/1" routerLinkActive="current-menu-item">Vinamilk</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="javascript:void(0);">Danh mục sữa</a>
                                    <ul class="sub-menu">
                                        <li><a routerLink="/home/category/12" routerLinkActive="current-menu-item">Sữa Bột</a></li>
                                        <li><a routerLink="/home/category/12" routerLinkActive="current-menu-item">Sữa Nước</a></li>
                                        <li><a routerLink="/home/category/12" routerLinkActive="current-menu-item">Sữa Đặc</a></li>
                                        <li><a routerLink="/home/category/12" routerLinkActive="current-menu-item">Sữa Chua</a></li>
                                        <li><a routerLink="/home/category/12" routerLinkActive="current-menu-item">Sữa Tươi Lên Men</a></li>
                                        <li><a routerLink="/home/category/12" routerLinkActive="current-menu-item">Sữa Trái Cây</a></li>
                                    </ul>
                                </li>
                                <li><a routerLink="/home/product" routerLinkActive="current-menu-item">Cửa hàng</a></li>
                                <li><a routerLink="/home/contact" routerLinkActive="current-menu-item">Liên hệ</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!--************************************
        Header End
*************************************-->
