<app-header></app-header>
<!--************************************
        Best Selling Start
*************************************-->
<section class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-sectionhead">
                    <h2>Các sản phẩm bán chạy nhất</h2>
                    <a class="tg-btn" href="javascript:void(0);">Xem tất cả</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="tg-bestsellingbooksslider" class="tg-bestsellingbooksslider tg-bestsellingbooks owl-carousel">
                    <div class="item">
                        <div class="tg-postbook">
                            <figure class="tg-featureimg">
                                <div class="tg-bookimg">
                                    <div class="tg-frontcover"><img src="./assets/images/books/sure.jpg" alt="image description"></div>
                                    <!-- <div class="tg-backcover"><img src="./assets/images/books/friso 2.png" alt="image description"></div> -->
                                </div>
                                <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                    <i class="icon-heart"></i>
                                    <span>Thêm vào giỏ</span>
                                </a>
                            </figure>
                            <div class="tg-postbookcontent">
                                <ul class="tg-bookscategories">
                                    <li><a href="javascript:void(0);">Vinamilk</a></li>
                                    
                                </ul>
                                <div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
                                <div class="tg-booktitle">
                                    <h3><a href="javascript:void(0);">Sure prevent</a></h3>
                                </div>
                                <span class="tg-bookwriter">Đánh giá</span>
                                <span class="tg-stars"><span></span></span>
                                <span class="tg-bookprice">
                                    <ins>215.000 đ</ins>
                                    <del>250.000 đ</del>
                                </span>
                                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                    <i class="fa fa-shopping-basket"></i>
                                    <em>Thêm vào giỏ hàng</em>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tg-postbook">
                            <figure class="tg-featureimg">
                                <div class="tg-bookimg">
                                    <div class="tg-frontcover"><img src="./assets/images/books/grow.jpg" alt="image description"></div>
                                    <!-- <div class="tg-backcover"><img src="./assets/images/books/friso 2.png" alt="image description"></div> -->
                                </div>
                                <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                    <i class="icon-heart"></i>
                                    <span>Thêm vào giỏ</span>
                                </a>
                            </figure>
                            <div class="tg-postbookcontent">
                                <ul class="tg-bookscategories">
                                    <li><a href="javascript:void(0);">Vinamilk</a></li>
                                    
                                </ul>
                                <div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
                                <div class="tg-booktitle">
                                    <h3><a href="javascript:void(0);">Grow-Pro</a></h3>
                                </div>
                                <span class="tg-bookwriter">Đánh giá</span>
                                <span class="tg-stars"><span></span></span>
                                <span class="tg-bookprice">
                                    <ins>259.000 đ</ins>
                                    <del>325.000 đ</del>
                                </span>
                                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                    <i class="fa fa-shopping-basket"></i>
                                    <em>Thêm vào giỏ hàng</em>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tg-postbook">
                            <figure class="tg-featureimg">
                                <div class="tg-bookimg">
                                    <div class="tg-frontcover"><img src="./assets/images/books/frisogold.jpg" alt="image description"></div>
                                    <!-- <div class="tg-backcover"><img src="./assets/images/books/friso 2.png" alt="image description"></div> -->
                                </div>
                                <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                    <i class="icon-heart"></i>
                                    <span>Thêm vào giỏ</span>
                                </a>
                            </figure>
                            <div class="tg-postbookcontent">
                                <ul class="tg-bookscategories">
                                    <li><a href="javascript:void(0);">Friso</a></li>
                                    
                                </ul>
                                <div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
                                <div class="tg-booktitle">
                                    <h3><a href="javascript:void(0);">Frisol Gold</a></h3>
                                </div>
                                <span class="tg-bookwriter">Đánh giá</span>
                                <span class="tg-stars"><span></span></span>
                                <span class="tg-bookprice">
                                    <ins>254.000 đ</ins>
                                    <del>300.000 đ</del>
                                </span>
                                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                    <i class="fa fa-shopping-basket"></i>
                                    <em>Thêm vào giỏ hàng</em>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tg-postbook">
                            <figure class="tg-featureimg">
                                <div class="tg-bookimg">
                                    <div class="tg-frontcover"><img src="./assets/images/books/optimum.jpg" alt="image description"></div>
                                    <!-- <div class="tg-backcover"><img src="./assets/images/books/friso 2.png" alt="image description"></div> -->
                                </div>
                                <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                    <i class="icon-heart"></i>
                                    <span>Thêm vào giỏ</span>
                                </a>
                            </figure>
                            <div class="tg-postbookcontent">
                                <ul class="tg-bookscategories">
                                    <li><a href="javascript:void(0);">Vinamilk</a></li>
                                    
                                </ul>
                                <div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
                                <div class="tg-booktitle">
                                    <h3><a href="javascript:void(0);">Optimum-Gold</a></h3>
                                </div>
                                <span class="tg-bookwriter">Đánh giá</span>
                                <span class="tg-stars"><span></span></span>
                                <span class="tg-bookprice">
                                    <ins>300.000 đ</ins>
                                    <del>333.000 đ</del>
                                </span>
                                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                    <i class="fa fa-shopping-basket"></i>
                                    <em>Thêm vào giỏ hàng</em>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tg-postbook">
                            <figure class="tg-featureimg">
                                <div class="tg-bookimg">
                                    <div class="tg-frontcover"><img src="./assets/images/books/friso2.jpg" alt="image description"></div>
                                    <!-- <div class="tg-backcover"><img src="./assets/images/books/friso 2.png" alt="image description"></div> -->
                                </div>
                                <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                    <i class="icon-heart"></i>
                                    <span>Thêm vào giỏ</span>
                                </a>
                            </figure>
                            <div class="tg-postbookcontent">
                                <ul class="tg-bookscategories">
                                    <li><a href="javascript:void(0);">Friso</a></li>
                                    
                                </ul>
                                <div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
                                <div class="tg-booktitle">
                                    <h3><a href="javascript:void(0);">Frisolac-Gold 1</a></h3>
                                </div>
                                <span class="tg-bookwriter">Đánh giá</span>
                                <span class="tg-stars"><span></span></span>
                                <span class="tg-bookprice">
                                    <ins>254.000 đ</ins>
                                    <del>300.000 đ</del>
                                </span>
                                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                    <i class="fa fa-shopping-basket"></i>
                                    <em>Thêm vào giỏ hàng</em>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tg-postbook">
                            <figure class="tg-featureimg">
                                <div class="tg-bookimg">
                                    <div class="tg-frontcover"><img src="./assets/images/books/friso1.jpg" alt="image description"></div>
                                    <!-- <div class="tg-backcover"><img src="./assets/images/books/friso 2.png" alt="image description"></div> -->
                                </div>
                                <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                    <i class="icon-heart"></i>
                                    <span>Thêm vào giỏ</span>
                                </a>
                            </figure>
                            <div class="tg-postbookcontent">
                                <ul class="tg-bookscategories">
                                    <li><a href="javascript:void(0);">Friso</a></li>
                                    
                                </ul>
                                <div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
                                <div class="tg-booktitle">
                                    <h3><a href="javascript:void(0);">Frisolac-Gold 5</a></h3>
                                </div>
                                <span class="tg-bookwriter">Đánh giá</span>
                                <span class="tg-stars"><span></span></span>
                                <span class="tg-bookprice">
                                    <ins>266.000 đ</ins>
                                    <del>299.000 đ</del>
                                </span>
                                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                    <i class="fa fa-shopping-basket"></i>
                                    <em>Thêm vào giỏ hàng</em>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tg-postbook">
                            <figure class="tg-featureimg">
                                <div class="tg-bookimg">
                                    <div class="tg-frontcover"><img src="./assets/images/books/abbott-grow.jpg" alt="image description"></div>
                                    <!-- <div class="tg-backcover"><img src="./assets/images/books/friso 2.png" alt="image description"></div> -->
                                </div>
                                <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                    <i class="icon-heart"></i>
                                    <span>Thêm vào giỏ</span>
                                </a>
                            </figure>
                            <div class="tg-postbookcontent">
                                <ul class="tg-bookscategories">
                                    <li><a href="javascript:void(0);">Abbott</a></li>
                                    
                                </ul>
                                <div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
                                <div class="tg-booktitle">
                                    <h3><a href="javascript:void(0);">Abbott-Grow</a></h3>
                                </div>
                                <span class="tg-bookwriter">Đánh giá</span>
                                <span class="tg-stars"><span></span></span>
                                <span class="tg-bookprice">
                                    <ins>254.000 đ</ins>
                                    <del>300.000 đ</del>
                                </span>
                                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                    <i class="fa fa-shopping-basket"></i>
                                    <em>Thêm vào giỏ hàng</em>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--************************************
        Best Selling End
*************************************-->

<!--************************************
        New Release Start
*************************************-->
<section class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="tg-newrelease">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="tg-sectionhead">
                        <h2>Các sản phẩm mới</h2>
                    </div>
                    <div class="tg-description">
                        <p>
                            Sữa giúp cho cơ thể của bạn luôn khỏe mạnh. Đó là những gì mà lâu nay các nhà cung cấp sữa quảng cáo với chúng ta. Tuy nhiên, đã bao giờ bạn ngồi xuống và tự hỏi liệu rằng sữa thực sự mang lại những lợi ích gì cho cơ thể của chúng ta hay chưa? Mời các bạn cùng tìm hiểu nhé!
                        </p>
                        <p>1. Làm đẹp da</p>
                        <p>2. Răng chắc khỏe</p>
                        <p>3. Xương chắc khỏe</p>
                        <p>4. Phát triển cơ bắp</p>
                        <p>5. Tăng cường năng lượng</p>
                        <p>6. Chống lại bệnh tật</p>
                    </div>
                    <div class="tg-btns">
                        <a class="tg-btn tg-active" href="javascript:void(0);">Xem tất cả</a>
                        <a class="tg-btn" href="javascript:void(0);">Thu gọn</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="tg-newreleasebooks">
                            <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4">
                                <div class="tg-postbook">
                                    <figure class="tg-featureimg">
                                        <div class="tg-bookimg">
                                            <div class="tg-frontcover"><img src="./assets/images/books/organic.jpg" alt="image description"></div>
                                            
                                        </div>
                                        <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                            <i class="icon-heart"></i>
                                            <span>Thêm vào giỏ</span>
                                        </a>
                                    </figure>
                                    <div class="tg-postbookcontent">
                                        <ul class="tg-bookscategories">
                                            <li><a href="javascript:void(0);">Vinamilk</a></li>
                                            
                                        </ul>
                                        <div class="tg-booktitle">
                                            <h3><a href="javascript:void(0);">Organic-Gold</a></h3>
                                        </div>
                                        <span class="tg-bookwriter">Đánh giá</span>
                                        <span class="tg-stars"><span></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4">
                                <div class="tg-postbook">
                                    <figure class="tg-featureimg">
                                        <div class="tg-bookimg">
                                            <div class="tg-frontcover"><img src="./assets/images/books/optimum.jpg" alt="image description"></div>
                                            
                                        </div>
                                        <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                            <i class="icon-heart"></i>
                                            <span>Thêm vào giỏ</span>
                                        </a>
                                    </figure>
                                    <div class="tg-postbookcontent">
                                        <ul class="tg-bookscategories">
                                            <li><a href="javascript:void(0);">Vinamil</a></li>
                                          
                                        </ul>
                                        <div class="tg-booktitle">
                                            <h3><a href="javascript:void(0);">Optimum-Gold</a></h3>
                                        </div>
                                        <span class="tg-bookwriter">Đánh giá</span>
                                        <span class="tg-stars"><span></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-4 hidden-md">
                                <div class="tg-postbook">
                                    <figure class="tg-featureimg">
                                        <div class="tg-bookimg">
                                            <div class="tg-frontcover"><img src="./assets/images/books/grow.jpg" alt="image description"></div>
                                            
                                        </div>
                                        <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                            <i class="icon-heart"></i>
                                            <span>Thêm vào giỏ</span>
                                        </a>
                                    </figure>
                                    <div class="tg-postbookcontent">
                                        <ul class="tg-bookscategories">
                                            <li><a href="javascript:void(0);">Vinamilk</a></li>
                                            
                                        </ul>
                                        <div class="tg-booktitle">
                                            <h3><a href="javascript:void(0);">Grow-Pro</a></h3>
                                        </div>
                                        <span class="tg-bookwriter">Đánh giá</span>
                                        <span class="tg-stars"><span></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--************************************
        New Release End
*************************************-->

<!--************************************
        Picked By Author Start
*************************************-->
<section class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-sectionhead">
                    <h2>Các sản phẩm cao cấp</h2>
                    <a class="tg-btn" href="javascript:void(0);">Xem tất cả</a>
                </div>
            </div>
            <div id="tg-pickedbyauthorslider" class="tg-pickedbyauthor tg-pickedbyauthorslider owl-carousel">
                <div class="item">
                    <div class="tg-postbook">
                        <figure class="tg-featureimg">
                            <div class="tg-bookimg">
                                <div class="tg-frontcover"><img src="./assets/images/books/caocap1.jpg" alt="image description"></div>
                            </div>
                            <div class="tg-hovercontent">
                                <div class="tg-description">
                                    <p>Sữa Aptami</p>
                                </div>
                                <strong class="tg-bookpage">Khối lượng: 640 gr</strong>
                                <strong class="tg-bookcategory">Nhà cung cấp: Vinamilk</strong>
                                <strong class="tg-bookprice">Giá: 500.000 đ</strong>
                                <div class="tg-ratingbox"><span class="tg-stars"><span></span></span></div>
                            </div>
                        </figure>
                        <div class="tg-postbookcontent">
                            <div class="tg-booktitle">
                                <h3><a href="javascript:void(0);">Aptami-Pro/Futura</a></h3>
                            </div>
                            <span class="tg-bookwriter">Khối lượng: 650 gr</span>
                            <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                <i class="fa fa-shopping-basket"></i>
                                <em>Thêm vào giỏ hàng</em>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="tg-postbook">
                        <figure class="tg-featureimg">
                            <div class="tg-bookimg">
                                <div class="tg-frontcover"><img src="./assets/images/books/caocap2.jpg" alt="image description"></div>
                            </div>
                            <div class="tg-hovercontent">
                                <div class="tg-description">
                                    <p>Sữa Similac</p>
                                </div>
                                <strong class="tg-bookpage">Khối lượng: 600 gr</strong>
                                <strong class="tg-bookcategory">Nhà cung cấp: Abbott</strong>
                                <strong class="tg-bookprice">Giá: 499.000 đ</strong>
                                <div class="tg-ratingbox"><span class="tg-stars"><span></span></span></div>
                            </div>
                        </figure>
                        <div class="tg-postbookcontent">
                            <div class="tg-booktitle">
                                <h3><a href="javascript:void(0);">Similac-New Born</a></h3>
                            </div>
                            <span class="tg-bookwriter">Khối lượng: 600 gr</span>
                            <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                <i class="fa fa-shopping-basket"></i>
                                <em>Thêm vào giỏ hàng</em>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="tg-postbook">
                        <figure class="tg-featureimg">
                            <div class="tg-bookimg">
                                <div class="tg-frontcover"><img src="./assets/images/books/caocap3.jpg" alt="image description"></div>
                            </div>
                            <div class="tg-hovercontent">
                                <div class="tg-description">
                                    <p>Sữa Ensure</p>
                                </div>
                                <strong class="tg-bookpage">Khối lượng: 650 gr</strong>
                                <strong class="tg-bookcategory">Nhà cung cấp: Friso</strong>
                                <strong class="tg-bookprice">Giá: 555.000 đ</strong>
                                <div class="tg-ratingbox"><span class="tg-stars"><span></span></span></div>
                            </div>
                        </figure>
                        <div class="tg-postbookcontent">
                            <div class="tg-booktitle">
                                <h3><a href="javascript:void(0);">Ensure</a></h3>
                            </div>
                            <span class="tg-bookwriter">Khối lượng: 650 gr</span>
                            <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                <i class="fa fa-shopping-basket"></i>
                                <em>Thêm vào giỏ hàng</em>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="tg-postbook">
                        <figure class="tg-featureimg">
                            <div class="tg-bookimg">
                                <div class="tg-frontcover"><img src="./assets/images/books/img-10.jpg" alt="image description"></div>
                            </div>
                            <div class="tg-hovercontent">
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore toloregna aliqua enim adia minim veniam, quis nostrud.</p>
                                </div>
                                <strong class="tg-bookpage">Book Pages: 206</strong>
                                <strong class="tg-bookcategory">Category: Adventure, Fun</strong>
                                <strong class="tg-bookprice">Price: $23.18</strong>
                                <div class="tg-ratingbox"><span class="tg-stars"><span></span></span></div>
                            </div>
                        </figure>
                        <div class="tg-postbookcontent">
                            <div class="tg-booktitle">
                                <h3><a href="javascript:void(0);">Seven Minutes In Heaven</a></h3>
                            </div>
                            <span class="tg-bookwriter">By: <a href="javascript:void(0);">Sunshine Orlando</a></span>
                            <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                <i class="fa fa-shopping-basket"></i>
                                <em>Add To Basket</em>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="tg-postbook">
                        <figure class="tg-featureimg">
                            <div class="tg-bookimg">
                                <div class="tg-frontcover"><img src="./assets/images/books/img-11.jpg" alt="image description"></div>
                            </div>
                            <div class="tg-hovercontent">
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore toloregna aliqua enim adia minim veniam, quis nostrud.</p>
                                </div>
                                <strong class="tg-bookpage">Book Pages: 206</strong>
                                <strong class="tg-bookcategory">Category: Adventure, Fun</strong>
                                <strong class="tg-bookprice">Price: $23.18</strong>
                                <div class="tg-ratingbox"><span class="tg-stars"><span></span></span></div>
                            </div>
                        </figure>
                        <div class="tg-postbookcontent">
                            <div class="tg-booktitle">
                                <h3><a href="javascript:void(0);">Slow And Steady Wins The Race</a></h3>
                            </div>
                            <span class="tg-bookwriter">By: <a href="javascript:void(0);">Drusilla Glandon</a></span>
                            <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                <i class="fa fa-shopping-basket"></i>
                                <em>Thêm vào giỏ hàng</em>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--************************************
        Picked By Author End
*************************************-->
<!--************************************
        Testimonials Start
*************************************-->
<section class="tg-parallax tg-bgtestimonials tg-haslayout" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="./assets/images/parallax/bgparallax-05.jpg">
    <div class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-push-2">
                    <div id="tg-testimonialsslider" class="tg-testimonialsslider tg-testimonials owl-carousel">
                        <div class="item tg-testimonial">
                            <figure><img src="./assets/images/authors/imag-02.jpg" alt="image description"></figure>
                            <blockquote><q>Các sản phẩm chất lượng, uy tín.</q></blockquote>
                            <div class="tg-testimonialauthor">
                               
                               
                            </div>
                        </div>
                        <div class="item tg-testimonial">
                            <figure><img src="./assets/images/authors/imag-02.jpg" alt="image description"></figure>
                            <blockquote><q>Mang lại hiệu quả cao.</q></blockquote>
                            <div class="tg-testimonialauthor">
                                
                                
                            </div>
                        </div>
                        <div class="item tg-testimonial">
                            <figure><img src="./assets/images/authors/imag-02.jpg" alt="image description"></figure>
                            <blockquote><q>Số 1 Việt Nam</q></blockquote>
                            <div class="tg-testimonialauthor">
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--************************************
        Testimonials End
*************************************-->

<!--************************************
        Call to Action Start
*************************************-->
<section class="tg-parallax tg-bgcalltoaction tg-haslayout" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="./assets/images/parallax/bgparallax-06.jpg">
    <div class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-calltoaction">
                        <h2>Open Discount For All</h2>
                        <h3>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore.</h3>
                        <a class="tg-btn tg-active" href="javascript:void(0);">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--************************************
        Call to Action End
*************************************-->
<!--************************************
        Latest News Start
*************************************-->
<section class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-sectionhead">
                    <h2><span>Latest News &amp; Articles</span>What's Hot in The News</h2>
                    <a class="tg-btn" href="javascript:void(0);">View All</a>
                </div>
            </div>
            <div id="tg-postslider" class="tg-postslider tg-blogpost owl-carousel">
                <article class="item tg-post">
                    <figure><a href="javascript:void(0);"><img src="./assets/images/blog/img-01.jpg" alt="image description"></a></figure>
                    <div class="tg-postcontent">
                        <ul class="tg-bookscategories">
                            <li><a href="javascript:void(0);">Adventure</a></li>
                            <li><a href="javascript:void(0);">Fun</a></li>
                        </ul>
                        <div class="tg-themetagbox"><span class="tg-themetag">featured</span></div>
                        <div class="tg-posttitle">
                            <h3><a href="javascript:void(0);">Where The Wild Things Are</a></h3>
                        </div>
                        <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                        <ul class="tg-postmetadata">
                            <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><i>21,415 Comments</i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa fa-eye"></i><i>24,565 Views</i></a></li>
                        </ul>
                    </div>
                </article>
                <article class="item tg-post">
                    <figure><a href="javascript:void(0);"><img src="./assets/images/blog/img-02.jpg" alt="image description"></a></figure>
                    <div class="tg-postcontent">
                        <ul class="tg-bookscategories">
                            <li><a href="javascript:void(0);">Adventure</a></li>
                            <li><a href="javascript:void(0);">Fun</a></li>
                        </ul>
                        <div class="tg-themetagbox"><span class="tg-themetag">featured</span></div>
                        <div class="tg-posttitle">
                            <h3><a href="javascript:void(0);">All She Wants To Do Is Dance</a></h3>
                        </div>
                        <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                        <ul class="tg-postmetadata">
                            <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><i>21,415 Comments</i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa fa-eye"></i><i>24,565 Views</i></a></li>
                        </ul>
                    </div>
                </article>
                <article class="item tg-post">
                    <figure><a href="javascript:void(0);"><img src="./assets/images/blog/img-03.jpg" alt="image description"></a></figure>
                    <div class="tg-postcontent">
                        <ul class="tg-bookscategories">
                            <li><a href="javascript:void(0);">Adventure</a></li>
                            <li><a href="javascript:void(0);">Fun</a></li>
                        </ul>
                        <div class="tg-themetagbox"><span class="tg-themetag">featured</span></div>
                        <div class="tg-posttitle">
                            <h3><a href="javascript:void(0);">Why Walk When You Can Climb?</a></h3>
                        </div>
                        <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                        <ul class="tg-postmetadata">
                            <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><i>21,415 Comments</i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa fa-eye"></i><i>24,565 Views</i></a></li>
                        </ul>
                    </div>
                </article>
                <article class="item tg-post">
                    <figure><a href="javascript:void(0);"><img src="./assets/images/blog/img-04.jpg" alt="image description"></a></figure>
                    <div class="tg-postcontent">
                        <ul class="tg-bookscategories">
                            <li><a href="javascript:void(0);">Adventure</a></li>
                            <li><a href="javascript:void(0);">Fun</a></li>
                        </ul>
                        <div class="tg-themetagbox"><span class="tg-themetag">featured</span></div>
                        <div class="tg-posttitle">
                            <h3><a href="javascript:void(0);">Dance Like Nobody’s Watching</a></h3>
                        </div>
                        <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                        <ul class="tg-postmetadata">
                            <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><i>21,415 Comments</i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa fa-eye"></i><i>24,565 Views</i></a></li>
                        </ul>
                    </div>
                </article>
                <article class="item tg-post">
                    <figure><a href="javascript:void(0);"><img src="./assets/images/blog/img-02.jpg" alt="image description"></a></figure>
                    <div class="tg-postcontent">
                        <ul class="tg-bookscategories">
                            <li><a href="javascript:void(0);">Adventure</a></li>
                            <li><a href="javascript:void(0);">Fun</a></li>
                        </ul>
                        <div class="tg-themetagbox"><span class="tg-themetag">featured</span></div>
                        <div class="tg-posttitle">
                            <h3><a href="javascript:void(0);">All She Wants To Do Is Dance</a></h3>
                        </div>
                        <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                        <ul class="tg-postmetadata">
                            <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><i>21,415 Comments</i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa fa-eye"></i><i>24,565 Views</i></a></li>
                        </ul>
                    </div>
                </article>
                <article class="item tg-post">
                    <figure><a href="javascript:void(0);"><img src="./assets/images/blog/img-03.jpg" alt="image description"></a></figure>
                    <div class="tg-postcontent">
                        <ul class="tg-bookscategories">
                            <li><a href="javascript:void(0);">Adventure</a></li>
                            <li><a href="javascript:void(0);">Fun</a></li>
                        </ul>
                        <div class="tg-themetagbox"><span class="tg-themetag">featured</span></div>
                        <div class="tg-posttitle">
                            <h3><a href="javascript:void(0);">Why Walk When You Can Climb?</a></h3>
                        </div>
                        <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                        <ul class="tg-postmetadata">
                            <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><i>21,415 Comments</i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa fa-eye"></i><i>24,565 Views</i></a></li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!--************************************
        Latest News End
*************************************-->
<app-footer></app-footer>