<app-header></app-header>
<!--************************************
        Inner Banner Start
*************************************-->
<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="./assets/images/parallax/bgparallax-07.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-innerbannercontent">
                    <h1>tất cả sản phẩm</h1>
                    <ol class="tg-breadcrumb">
                        <li><a href="javascript:void(0);">Trang chủ</a></li>
                        <li class="tg-active">Cửa hàng</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Inner Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            News Grid Start
    *************************************-->
    <div class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div id="tg-twocolumns" class="tg-twocolumns">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 pull-right">
                        <div id="tg-content" class="tg-content">
                            <div class="tg-products">
                                <div class="tg-sectionhead">
                                    <h2>Các sản phẩm bán chạy nhất</h2>
                                </div>
                                <div class="tg-featurebook alert" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="tg-featureditm">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hidden-sm hidden-xs">
                                                <figure><img src="./assets/images/suahop.png" alt="image description"></figure>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                <div class="tg-featureditmcontent">
                                                    <div class="tg-themetagbox"><span class="tg-themetag">Hot</span></div>
                                                    <div class="tg-booktitle">
                                                        <h3><a href="javascript:void(0);">Vinamilk Pro</a></h3>
                                                    </div>
                                                    <span class="tg-bookwriter">Khối lượng: 450 ml</span>
                                                    <span class="tg-stars"><span></span></span>
                                                    <div class="tg-priceandbtn">
                                                        <span class="tg-bookprice">
                                                            <ins>81.000 đ</ins>
                                                            <del>98.000 đ</del>
                                                        </span>
                                                        <a class="tg-btn tg-btnstyletwo tg-active" href="javascript:void(0);">
                                                            <i class="fa fa-shopping-basket"></i>
                                                            <em>Thêm vào giỏ</em>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-productgrid">
                                    <div class="tg-refinesearch">
                                        <span>Kết quả</span>
                                        <form class="tg-formtheme tg-formsortshoitems">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label>Theo:</label>
                                                    <span class="tg-select">
                                                        <select>
                                                            <option>Tên</option>
                                                            <option>Giá</option>
                                                            <option>...</option>
                                                        </select>
                                                    </span>
                                                </div>
                                                <div class="form-group">
                                                    <label>SL:</label>
                                                    <span class="tg-select">
                                                        <select>
                                                            <option>8</option>
                                                            <option>16</option>
                                                            <option>20</option>
                                                        </select>
                                                    </span>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                        <div class="tg-postbook">
                                            <figure class="tg-featureimg">
                                                <div class="tg-bookimg">
                                                    <div class="tg-frontcover"><img src="./assets/images/books/friso2.jpg" alt="image description"></div>
                                                    
                                                </div>
                                                <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                                    <i class="icon-heart"></i>
                                                    <span>Thêm vào giỏ</span>
                                                </a>
                                            </figure>
                                            <div class="tg-postbookcontent">
                                                <ul class="tg-bookscategories">
                                                    <li><a href="javascript:void(0);">Friso</a></li>
                                                </ul>
                                                <div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
                                                <div class="tg-booktitle">
                                                    <h3><a href="javascript:void(0);">Sữa Friso-1</a></h3>
                                                </div>
                                                <span class="tg-bookwriter">Khối lượng: 500 gr</span>
                                                <span class="tg-stars"><span></span></span>
                                                <span class="tg-bookprice">
                                                    <ins>440.000 đ</ins>
                                                    <del>500.000 đ</del>
                                                </span>
                                                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                                    <i class="fa fa-shopping-basket"></i>
                                                    <em>Thêm vào giỏ hàng</em>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                        <div class="tg-postbook">
                                            <figure class="tg-featureimg">
                                                <div class="tg-bookimg">
                                                    <div class="tg-frontcover"><img src="./assets/images/books/friso1.jpg" alt="image description"></div>
                                                    
                                                </div>
                                                <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                                    <i class="icon-heart"></i>
                                                    <span>Thêm vào giỏ</span>
                                                </a>
                                            </figure>
                                            <div class="tg-postbookcontent">
                                                <ul class="tg-bookscategories">
                                                    <li><a href="javascript:void(0);">Friso</a></li>
                                                </ul>
                                                <div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
                                                <div class="tg-booktitle">
                                                    <h3><a href="javascript:void(0);">Sữa Friso-5</a></h3>
                                                </div>
                                                <span class="tg-bookwriter">Khối lượng: 500 gr</span>
                                                <span class="tg-stars"><span></span></span>
                                                <span class="tg-bookprice">
                                                    <ins>440.000 đ</ins>
                                                    <del>510.000 đ</del>
                                                </span>
                                                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                                    <i class="fa fa-shopping-basket"></i>
                                                    <em>Thêm vào giỏ hàng</em>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                        <div class="tg-postbook">
                                            <figure class="tg-featureimg">
                                                <div class="tg-bookimg">
                                                    <div class="tg-frontcover"><img src="./assets/images/books/frisogold.jpg" alt="image description"></div>
                                                    
                                                </div>
                                                <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                                    <i class="icon-heart"></i>
                                                    <span>Thêm vào giỏ </span>
                                                </a>
                                            </figure>
                                            <div class="tg-postbookcontent">
                                                <ul class="tg-bookscategories">
                                                    <li><a href="javascript:void(0);">Friso</a></li>
                                                    
                                                </ul>
                                                <div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
                                                <div class="tg-booktitle">
                                                    <h3><a href="javascript:void(0);">Sữa Friso-Gold</a></h3>
                                                </div>
                                                <span class="tg-bookwriter">Khối lượng: 500 gr</span>
                                                <span class="tg-stars"><span></span></span>
                                                <span class="tg-bookprice">
                                                    <ins>350.000 đ</ins>
                                                </span>
                                                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                                    <i class="fa fa-shopping-basket"></i>
                                                    <em>Thêm vào giỏ hàng</em>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                        <div class="tg-postbook">
                                            <figure class="tg-featureimg">
                                                <div class="tg-bookimg">
                                                    <div class="tg-frontcover"><img src="./assets/images/books/friso4.jpg" alt="image description"></div>
                                                    
                                                </div>
                                                <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                                    <i class="icon-heart"></i>
                                                    <span>Thêm vào giỏ </span>
                                                </a>
                                            </figure>
                                            <div class="tg-postbookcontent">
                                                <ul class="tg-bookscategories">
                                                    <li><a href="javascript:void(0);">Friso</a></li>
                                                </ul>
                                                <div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
                                                <div class="tg-booktitle">
                                                    <h3><a href="javascript:void(0);">Sữa Friso-4</a></h3>
                                                </div>
                                                <span class="tg-bookwriter">Khối lượng: 450 gr</span>
                                                <span class="tg-stars"><span></span></span>
                                                <span class="tg-bookprice">
                                                    <ins>320.000 đ</ins>
                                                </span>
                                                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                                    <i class="fa fa-shopping-basket"></i>
                                                    <em>Thêm vào giỏ hàng</em>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                        <div class="tg-postbook">
                                            <figure class="tg-featureimg">
                                                <div class="tg-bookimg">
                                                    <div class="tg-frontcover"><img src="./assets/images/books/sure.jpg" alt="image description"></div>
                                                    
                                                </div>
                                                <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                                    <i class="icon-heart"></i>
                                                    <span>Thêm vào giỏ </span>
                                                </a>
                                            </figure>
                                            <div class="tg-postbookcontent">
                                                <ul class="tg-bookscategories">
                                                    <li><a href="javascript:void(0);">Vinamilk</a></li>
                                                </ul>
                                                <div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
                                                <div class="tg-booktitle">
                                                    <h3><a href="javascript:void(0);">Ensure</a></h3>
                                                </div>
                                                <span class="tg-bookwriter">Khối lượng: 600 gr</span>
                                                <span class="tg-stars"><span></span></span>
                                                <span class="tg-bookprice">
                                                    <ins>400.000 đ</ins>
                                                    <del>460.000 đ</del>
                                                </span>
                                                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                                    <i class="fa fa-shopping-basket"></i>
                                                    <em>Thêm vào giỏ hàng</em>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                        <div class="tg-postbook">
                                            <figure class="tg-featureimg">
                                                <div class="tg-bookimg">
                                                    <div class="tg-frontcover"><img src="./assets/images/books/suabot.jpg" alt="image description"></div>
                                                    
                                                </div>
                                                <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                                    <i class="icon-heart"></i>
                                                    <span>Thêm vào giỏ </span>
                                                </a>
                                            </figure>
                                            <div class="tg-postbookcontent">
                                                <ul class="tg-bookscategories">
                                                    <li><a href="javascript:void(0);">Ducth Lady</a></li>
                                                   
                                                </ul>
                                                <div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
                                                <div class="tg-booktitle">
                                                    <h3><a href="javascript:void(0);">Sữa nguyên kem</a></h3>
                                                </div>
                                                <span class="tg-bookwriter">Khối lượng: 300 gr</span>
                                                <span class="tg-stars"><span></span></span>
                                                <span class="tg-bookprice">
                                                    <ins>110.000 đ</ins>
                                                </span>
                                                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                                    <i class="fa fa-shopping-basket"></i>
                                                    <em>Thêm vào giỏ hàng</em>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                        <div class="tg-postbook">
                                            <figure class="tg-featureimg">
                                                <div class="tg-bookimg">
                                                    <div class="tg-frontcover"><img src="./assets/images/books/grow.jpg" alt="image description"></div>
                                                    
                                                </div>
                                                <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                                    <i class="icon-heart"></i>
                                                    <span>Thêm vào giỏ </span>
                                                </a>
                                            </figure>
                                            <div class="tg-postbookcontent">
                                                <ul class="tg-bookscategories">
                                                    <li><a href="javascript:void(0);">Vinamilk</a></li>
                                                    
                                                </ul>
                                                <div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
                                                <div class="tg-booktitle">
                                                    <h3><a href="javascript:void(0);">Sữa Grow</a></h3>
                                                </div>
                                                <span class="tg-bookwriter">Khối lượng: 600 gr</span>
                                                <span class="tg-stars"><span></span></span>
                                                <span class="tg-bookprice">
                                                    <ins>490.000 đ</ins>
                                                    <del>570.000 đ</del>
                                                </span>
                                                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                                    <i class="fa fa-shopping-basket"></i>
                                                    <em>Thêm vào giỏ hàng</em>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                        <div class="tg-postbook">
                                            <figure class="tg-featureimg">
                                                <div class="tg-bookimg">
                                                    <div class="tg-frontcover"><img src="./assets/images/books/optimum.jpg" alt="image description"></div>
                                                    
                                                </div>
                                                <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                                    <i class="icon-heart"></i>
                                                    <span>Thêm vào giỏ </span>
                                                </a>
                                            </figure>
                                            <div class="tg-postbookcontent">
                                                <ul class="tg-bookscategories">
                                                    <li><a href="javascript:void(0);">Vinamilk</a></li>
                                                </ul>
                                                <div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
                                                <div class="tg-booktitle">
                                                    <h3><a href="javascript:void(0);">Sữa optimum</a></h3>
                                                </div>
                                                <span class="tg-bookwriter">Khối lượng: 500 gr</span>
                                                <span class="tg-stars"><span></span></span>
                                                <span class="tg-bookprice">
                                                    <ins>300.000 đ</ins>
                                                </span>
                                                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                                    <i class="fa fa-shopping-basket"></i>
                                                    <em>Thêm vào giỏ hàng</em>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                        <div class="tg-postbook">
                                            <figure class="tg-featureimg">
                                                <div class="tg-bookimg">
                                                    <div class="tg-frontcover"><img src="./assets/images/books/caocap1.jpg" alt="image description"></div>
                                                    
                                                </div>
                                                <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                                    <i class="icon-heart"></i>
                                                    <span>Thêm vào giỏ </span>
                                                </a>
                                            </figure>
                                            <div class="tg-postbookcontent">
                                                <ul class="tg-bookscategories">
                                                    <li><a href="javascript:void(0);">Nutifood</a></li>
                                                </ul>
                                                <div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
                                                <div class="tg-booktitle">
                                                    <h3><a href="javascript:void(0);">Sữa Aptamil</a></h3>
                                                </div>
                                                <span class="tg-bookwriter">Khối lượng: 450 gr</span>
                                                <span class="tg-stars"><span></span></span>
                                                <span class="tg-bookprice">
                                                    <ins>350.000 đ</ins>
                                                    <del>400.000 đ</del>
                                                </span>
                                                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                                    <i class="fa fa-shopping-basket"></i>
                                                    <em>Thêm vào giỏ hàng</em>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                        <div class="tg-postbook">
                                            <figure class="tg-featureimg">
                                                <div class="tg-bookimg">
                                                    <div class="tg-frontcover"><img src="./assets/images/books/caocap2.jpg" alt="image description"></div>
                                                    
                                                </div>
                                                <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                                    <i class="icon-heart"></i>
                                                    <span>Thêm vào giỏ </span>
                                                </a>
                                            </figure>
                                            <div class="tg-postbookcontent">
                                                <ul class="tg-bookscategories">
                                                    <li><a href="javascript:void(0);">Abbott</a></li>
                                                    
                                                </ul>
                                                <div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
                                                <div class="tg-booktitle">
                                                    <h3><a href="javascript:void(0);">Similac</a></h3>
                                                </div>
                                                <span class="tg-bookwriter">Khối lượng: 450 gr</span>
                                                <span class="tg-stars"><span></span></span>
                                                <span class="tg-bookprice">
                                                    <ins>380.000 đ</ins>
                                                </span>
                                                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                                    <i class="fa fa-shopping-basket"></i>
                                                    <em>Thêm vào giỏ hàng</em>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                        <div class="tg-postbook">
                                            <figure class="tg-featureimg">
                                                <div class="tg-bookimg">
                                                    <div class="tg-frontcover"><img src="./assets/images/books/caocap5.jpg" alt="image description"></div>
                                                    
                                                </div>
                                                <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                                    <i class="icon-heart"></i>
                                                    <span>Thêm vào giỏ </span>
                                                </a>
                                            </figure>
                                            <div class="tg-postbookcontent">
                                                <ul class="tg-bookscategories">
                                                    <li><a href="javascript:void(0);">Vinamilk</a></li>
                                               
                                                </ul>
                                                <div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
                                                <div class="tg-booktitle">
                                                    <h3><a href="javascript:void(0);">Sữa Dielac Alpha</a></h3>
                                                </div>
                                                <span class="tg-bookwriter">Khối lượng: 450 gr</span>
                                                <span class="tg-stars"><span></span></span>
                                                <span class="tg-bookprice">
                                                    <ins>350.000 đ</ins>
                                                    <del>400.000 đ</del>
                                                </span>
                                                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                                    <i class="fa fa-shopping-basket"></i>
                                                    <em>Thêm vào giỏ hàng</em>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                        <div class="tg-postbook">
                                            <figure class="tg-featureimg">
                                                <div class="tg-bookimg">
                                                    <div class="tg-frontcover"><img src="./assets/images/books/caocap4.jpg" alt="image description"></div>
                                                    
                                                </div>
                                                <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                                    <i class="icon-heart"></i>
                                                    <span>Thêm vào giỏ </span>
                                                </a>
                                            </figure>
                                            <div class="tg-postbookcontent">
                                                <ul class="tg-bookscategories">
                                                    <li><a href="javascript:void(0);">Abbott</a></li>
                                                    
                                                </ul>
                                                <div class="tg-themetagbox"><span class="tg-themetag">Giảm giá</span></div>
                                                <div class="tg-booktitle">
                                                    <h3><a href="javascript:void(0);">Sữa Abbott Grow</a></h3>
                                                </div>
                                                <span class="tg-bookwriter">Khối lượng: 450 gr</span>
                                                <span class="tg-stars"><span></span></span>
                                                <span class="tg-bookprice">
                                                    <ins>350.000 đ</ins>
                                                </span>
                                                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                                    <i class="fa fa-shopping-basket"></i>
                                                    <em>Thêm vào giỏ hàng</em>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 pull-left">
                        <aside id="tg-sidebar" class="tg-sidebar">
                            <div class="tg-widget tg-widgetsearch">
                                <form class="tg-formtheme tg-formsearch">
                                    <div class="form-group">
                                        <button type="submit"><i class="icon-magnifier"></i></button>
                                        <input type="search" name="search" class="form-group" placeholder="Tìm kiếm theo tên, giá, khối lượng...">
                                    </div>
                                </form>
                            </div>
                            <div class="tg-widget tg-catagories">
                                <div class="tg-widgettitle">
                                    <h3>Danh mục</h3>
                                </div>
                                <div class="tg-widgetcontent">
                                    <ul>
                                        <li><a href="javascript:void(0);"><span>Sữa đặc</span><em>28245</em></a></li>
                                        <li><a href="javascript:void(0);"><span>Sữa nước</span><em>4856</em></a></li>
                                        <li><a href="javascript:void(0);"><span>Sữa tươi</span><em>8654</em></a></li>
                                        <li><a href="javascript:void(0);"><span>Sữa chua lên men </span><em>6247</em></a></li>
                                        <li><a href="javascript:void(0);"><span>Sữa trái cây</span><em>888654</em></a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="tg-widget tg-widgettrending">
                                <div class="tg-widgettitle">
                                    <h3>Nhà cung cấp</h3>
                                </div>
                                <div class="tg-widgetcontent">
                                    <ul>
                                        <li>
                                            <article class="tg-post">
                                                <figure><a href="javascript:void(0);"><img src="./assets/images/products/supplierabbott.png" alt="image description"></a></figure>
                                                <div class="tg-postcontent">
                                                    <div class="tg-posttitle">
                                                        <h3><a href="javascript:void(0);">Thương hiệu Abbott</a></h3>
                                                    </div>
                                                    <span class="tg-bookwriter">Xuất xứ: <a href="javascript:void(0);">Hà Lan</a></span>
                                                </div>
                                            </article>
                                        </li>
                                        <li>
                                            <article class="tg-post">
                                                <figure><a href="javascript:void(0);"><img src="./assets/images/products/supplierfriso.png" alt="image description"></a></figure>
                                                <div class="tg-postcontent">
                                                    <div class="tg-posttitle">
                                                        <h3><a href="javascript:void(0);">Thương hiệu Friso</a></h3>
                                                    </div>
                                                    <span class="tg-bookwriter">Xuất xứ: <a href="javascript:void(0);">Hoa Kỳ</a></span>
                                                </div>
                                            </article>
                                        </li>
                                        <li>
                                            <article class="tg-post">
                                                <figure><a href="javascript:void(0);"><img src="./assets/images/products/suppliervinamilk1.jpg" alt="image description"></a></figure>
                                                <div class="tg-postcontent">
                                                    <div class="tg-posttitle">
                                                        <h3><a href="javascript:void(0);">Thương hiệu Vinamilk</a></h3>
                                                    </div>
                                                    <span class="tg-bookwriter">Xuất xứ: <a href="javascript:void(0);">Việt Nam</a></span>
                                                </div>
                                            </article>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                            <div class="tg-widget tg-widgetinstagram">
                                <div class="tg-widgettitle">
                                    <h3>Instagram</h3>
                                </div>
                                <div class="tg-widgetcontent">
                                    <ul>
                                        <li>
                                            <figure>
                                                <img src="./assets/images/instagram/img-01.jpg" alt="image description">
                                                <figcaption><a href="javascript:void(0);"><i class="icon-heart"></i><em>50,134</em></a></figcaption>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="./assets/images/instagram/img-02.jpg" alt="image description">
                                                <figcaption><a href="javascript:void(0);"><i class="icon-heart"></i><em>50,134</em></a></figcaption>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="./assets/images/instagram/img-03.jpg" alt="image description">
                                                <figcaption><a href="javascript:void(0);"><i class="icon-heart"></i><em>50,134</em></a></figcaption>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="./assets/images/instagram/img-04.jpg" alt="image description">
                                                <figcaption><a href="javascript:void(0);"><i class="icon-heart"></i><em>50,134</em></a></figcaption>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="./assets/images/instagram/img-05.jpg" alt="image description">
                                                <figcaption><a href="javascript:void(0);"><i class="icon-heart"></i><em>50,134</em></a></figcaption>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="./assets/images/instagram/img-06.jpg" alt="image description">
                                                <figcaption><a href="javascript:void(0);"><i class="icon-heart"></i><em>50,134</em></a></figcaption>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="./assets/images/instagram/img-07.jpg" alt="image description">
                                                <figcaption><a href="javascript:void(0);"><i class="icon-heart"></i><em>50,134</em></a></figcaption>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="./assets/images/instagram/img-08.jpg" alt="image description">
                                                <figcaption><a href="javascript:void(0);"><i class="icon-heart"></i><em>50,134</em></a></figcaption>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="./assets/images/instagram/img-09.jpg" alt="image description">
                                                <figcaption><a href="javascript:void(0);"><i class="icon-heart"></i><em>50,134</em></a></figcaption>
                                            </figure>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            News Grid End
    *************************************-->
</main>
<!--************************************
        Main End
*************************************-->
<app-footer></app-footer>